---
- name: create 'apps' directory
  file:
    path: "{{vx_root}}/apps"
    state: directory
    mode: 0755
- name: create 'downloads' directory
  file:
    path: "{{vx_root}}/downloads"
    state: directory
    mode: 0755
- name: create 'projects' directory
  file:
    path: "{{vx_root}}/projects"
    state: directory
    mode: 0755
- name: create 'config/secrets/ipfs' directory
  file:
    path: "{{vx_root}}/config/secrets/ipfs"
    state: directory
    mode: 0755
- name: example copying file with owner and permissions
  copy:
    src: ../../../secrets/ipfs/swarm.key
    dest: "{{ansible_env.HOME}}/vx/config/secrets/ipfs"
    mode: 0755